body {
	padding: 0;
}

#main-container {
	margin-bottom: 100px;
}

/** centered columns styles */
.row-centered {
	text-align:center;
}
.col-centered {
	display:inline-block;
	float:none;
	/* reset the text-align */
	text-align:left;
	/* inline-block space fix */
	margin-right:-4px;
}
/* centered columns styles **/

/** browsehappy text for old ie */
.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}
/* browsehappy text for old ie **/