<div class="jumbotron">
	<h1>Jurassic Spa</h1>
	<p>This page will grow as we add more and more components from Bootstrap...</p>
	<div ng-controller="MainCtrl" layout="column" layout-margin style="padding:25px;">
		Loading beautiful page...
		<md-progress-linear md-mode="indeterminate"></md-progress-linear>
	</div>
</div>


<div class="row">
	<div class="col-md-3 col-md-offset-2">
		<img class="img-responsive" src="http://ecx.images-amazon.com/images/I/91wCAIf0hjL._SY355_.jpg" />
	</div>
	<div class="col-md-3 col-md-offset-2">
		<img class="img-responsive" src="http://galleryplus.ebayimg.com/ws/web/161377079802_1_0_1/1000x1000.jpg" />
	</div>
</div>

